{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

<footer id="site-footer">
    <section id="footer-nav">
        {%- if config.extra.footer.links %}
        <nav>
            <ul>
                {%- for link in config.extra.footer.links %} {%- if link.url is
                matching('https?://') %}
                <li>
                    <a href="{{ link.url }}" rel="{{ rel_attributes }}">
                        {{- macros_translate::translate(key=link.name,
                        default=link.name, language_strings=language_strings)
                        -}}
                    </a>
                </li>
                {%- else %}
                <li>
                    <a href="{{ get_url(path=link.url, lang=lang)}}">
                        {{- macros_translate::translate(key=link.name,
                        default=link.name, language_strings=language_strings)
                        -}}
                    </a>
                </li>
                {%- endif %} {%- endfor %}
            </ul>
        </nav>
        {%- endif %} {%- if config.extra.footer.show_copyright %} {%- if
        config.extra.footer.copyright %} {{ config.extra.footer.copyright |
        markdown | safe }} {%- else %}
        <p>&copy; {{ config.title }}, {{ now() | date(format="%Y") }}</p>
        {%- endif %} {%- endif %} {%- if config.extra.source_url and
        config.extra.footer.show_source %}
        <p>
            <a href="{{ config.extra.source_url }}" rel="{{ rel_attributes }}">
                {{- macros_translate::translate(key="source", default="Website
                source", language_strings=language_strings) -}}
            </a>
        </p>
        {%- endif %} {%- if config.extra.footer.show_powered_by %}
        <p>
            <small>
                {{ macros_translate::translate(key="powered_by",
                default="Powered by", language_strings=language_strings) }}
                <a
                    class="link"
                    href="https://www.getzola.org"
                    rel="{{ rel_attributes }}"
                    >Zola</a
                >
                {{ macros_translate::translate(key="powered_by_and",
                default="and", language_strings=language_strings) }}
                <a
                    class="link"
                    href="https://duckquill.daudix.one"
                    rel="{{ rel_attributes }}"
                    >Duckquill</a
                >
            </small>
        </p>
        {%- endif %} {%- if config.extra.footer.socials %}
        <ul id="socials">
            {%- for link in config.extra.footer.socials %}
            <li>
                <a
                    href="{{ link.url | safe }}"
                    rel="{{ rel_attributes }} me"
                    title="{{ link.name }}"
                >
                    <i
                        class="icon"
                        style='mask-image: url("data:image/svg+xml,{{ link.icon }}"); -webkit-mask-image: url("data:image/svg+xml,{{ link.icon }}")'
                    ></i>
                    <span>{{ link.name }}</span>
                </a>
            </li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </section>
    <section id="newsletter">
        <div class="newsletter-container">
            <h3>Subscribe to my newsletter</h3>
            <form action="https://zcsub-cmpzourl.maillist-manage.com/weboptin.zc" method="POST" target="_zcSignup" class="newsletter-form">
                <div class="form-group">
                    <input type="email" name="CONTACT_EMAIL" placeholder="Your email" required>
                </div>
                <div class="form-group">
                    <input type="text" name="LASTNAME" placeholder="Your name" required>
                </div>
                <input type="hidden" name="zx" value="133e83a52">
                <input type="hidden" name="zcvers" value="3.0">
                <input type="hidden" name="zcld" value="11334c81a1d8ca8f6">
                <input type="hidden" name="zctd" value="11334c81a1d8ca7a9">
                <input type="hidden" name="zc_trackCode" value="ZCFORMVIEW">
                <input type="hidden" name="zc_formIx" value="3za6c3e5ace270243f347692f23fb08bdb0837d32cd58e07f8d7020823ddf18833">
                <input type="hidden" name="viewFrom" value="URL_ACTION">
                <input type="hidden" name="submitType" value="optinCustomView">
                <input type="hidden" name="formType" value="QuickForm">
                <input type="hidden" name="mode" value="OptinCreateView">
                <button type="submit" class="newsletter-submit">Subscribe</button>
            </form>
        </div>
    </section>
</footer>
