hr::after {
    font-family: system-ui;
    content: "⚧";
}

.gift-section {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-content: space-evenly;
    justify-content: start;
    width: 100%;
    margin-bottom: 2rem;
}

.sizing-table {
 width: 300px;
}
