hr::after {
    font-family: system-ui;
    content: "⚧";
}

.gift-section {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-content: space-evenly;
    justify-content: start;
    width: 100%;
    margin-bottom: 2rem;
}

.sizing-table {
    width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: var(--font-system-ui);
    letter-spacing: 0.01rem;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

img {
    transform: none !important;
    z-index: inherit !important;
    box-shadow: none !important;
    cursor: unset !important;
    border-radius: 0 !important;
    transition: none !important;
}

iframe {
    width: 100%;
}
